<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="pull-left">
          <h1 class="header-title">Lista Todo</h1>
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-success show-todolist-modal" data-toggle="modal" data-target="#todolist-modal">Criar uma nova lista</a>
        </div>
      </div>
      <div class="modal fade" id="todolist-modal" tabindex="-1" role="dialog"></div>
    </div>
  </div>
</header>

<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>
<h1> Meus ToDos </h1>

<ul id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <%= render partial: "todo_list", locals: { todo_list: todo_list } %>
  <% end %>
</ul>
